<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SaveFeedback</servlet-name>
        <servlet-class>SaveFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveFeedbackCode</servlet-name>
        <servlet-class>SaveFeedbackCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpSave</servlet-name>
        <servlet-class>SignUpSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackDetails</servlet-name>
        <servlet-class>DeleteFeedbackDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserDetails</servlet-name>
        <servlet-class>DeleteUserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUsersDetails</servlet-name>
        <servlet-class>DeleteUsersDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveComposedMail</servlet-name>
        <servlet-class>SaveComposedMail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveFeedback</servlet-name>
        <url-pattern>/SaveFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveFeedbackCode</servlet-name>
        <url-pattern>/SaveFeedbackCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpSave</servlet-name>
        <url-pattern>/SignUpSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackDetails</servlet-name>
        <url-pattern>/DeleteFeedbackDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserDetails</servlet-name>
        <url-pattern>/DeleteUserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUsersDetails</servlet-name>
        <url-pattern>/DeleteUsersDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveComposedMail</servlet-name>
        <url-pattern>/SaveComposedMail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
